header {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9998;
  #navbar_main {
    // background: #031A36;
    background: #141D26;

  }
  .nav-logo-container {
    // display: flex;
    margin-right: 2rem;
    @media(max-width: 500px) {
      margin-right: 0;
    }
    a {
      color: #fff;
      &:hover {
        color: #ededed;
      }
    }
  }
  .navbar-nav {
    li.active {
      a {
        font-weight: 700;
      }
    }
  }
  .menu-icon {
    font-size: 1em;
    padding: 18px;
    cursor: pointer;
    color: #ededed;
  }
  #navbar_main {
    width: 100%;
  }
  .navbar-brand {
    color: #ededed;
    .logo {
      width: 200px;
      height: auto;
      @media(min-width: 992px) {
        margin-left: 1.4rem;
      }
    }
  }

}
