@font-face {
  font-family: 'jfxicons';
  src:  url('fonts/jfxicons.eot?s7bu2c');
  src:  url('fonts/jfxicons.eot?s7bu2c#iefix') format('embedded-opentype'),
    url('fonts/jfxicons.ttf?s7bu2c') format('truetype'),
    url('fonts/jfxicons.woff?s7bu2c') format('woff'),
    url('fonts/jfxicons.svg?s7bu2c#jfxicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'jfxicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-x-close3:before {
  content: "\e927";
}
.icon-document-download:before {
  content: "\e900";
}
.icon-settings:before {
  content: "\e901";
}
.icon-save:before {
  content: "\e902";
}
.icon-logout:before {
  content: "\e903";
}
.icon-help:before {
  content: "\e904";
}
.icon-info:before {
  content: "\e905";
}
.icon-drop-down-arrow:before {
  content: "\e906";
}
.icon-edit:before {
  content: "\e907";
}
.icon-download:before {
  content: "\e908";
}
.icon-dots-6:before {
  content: "\e909";
}
.icon-dots-3:before {
  content: "\e90a";
}
.icon-sorter-asc:before {
  content: "\e90b";
}
.icon-sorter-desc:before {
  content: "\e90c";
}
.icon-warning:before {
  content: "\e90d";
}
.icon-check-thicker2:before {
  content: "\e90e";
}
.icon-compare3:before {
  content: "\e90f";
}
.icon-compare3-JFX:before {
  content: "\e910";
}
.icon-mail-wire:before {
  content: "\e911";
}
.icon-mail:before {
  content: "\e912";
}
.icon-maximize:before {
  content: "\e913";
}
.icon-lock2:before {
  content: "\e914";
}
.icon-report:before {
  content: "\e915";
}
.icon-chat2:before {
  content: "\e916";
}
.icon-chat:before {
  content: "\e917";
}
.icon-alert-notification:before {
  content: "\e918";
}
.icon-addicon-full:before {
  content: "\e919";
}
.icon-addicon:before {
  content: "\e91a";
}
.icon-reveal:before {
  content: "\e91b";
}
.icon-hide:before {
  content: "\e91c";
}
.icon-home:before {
  content: "\e91d";
}
.icon-location:before {
  content: "\e91e";
}
.icon-search:before {
  content: "\e91f";
}
.icon-arrow-down:before {
  content: "\e920";
}
.icon-arrow-up:before {
  content: "\e921";
}
.icon-arrow-left:before {
  content: "\e922";
}
.icon-arrow-right:before {
  content: "\e923";
}
.icon-run:before {
  content: "\e924";
}
.icon-restore:before {
  content: "\e925";
}
.icon-responsive-nav:before {
  content: "\e926";
}
