<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Create Hazards</h4>
  <button ngbAutofocus type="button" class="close" aria-label="Close" (click)="doClose()">
    <span aria-hidden="true">×</span>
  </button>
</div>
<div class="modal-body">
  <div class="create-steps-form">


    <ng-container *ngIf="initialized; else loading">

    </ng-container>
    <form [formGroup]="hazardsForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div formArrayName="hazards">
          <div *ngFor="let step of hazards.controls; let i=index">
            <!-- The repeated alias template -->
            <label
              for="title-{{i}}">title:
            </label>
            <input
              class="form-control"
              id="title-{{i}}"
              type="text"
              [formControlName]="i"
            >
          </div>

          <div class="add-hazard-placeholder">
            <button class="btn btn-light" type="button" (click)="addHazard()">+ Add Hazard</button>
          </div>

        </div>
      </div>


      <div class="actions">
        <button class="btn btn-primary" type="submit">Submit</button>
        <button class="btn btn-primary" (click)="clearForm()">Clear</button>
      </div>

    </form>
  </div>
</div>
<ng-template #loading>
  <div class="load-spinner" style="display: flex; justify-content: center; align-items: center; min-height: 400px;">
    <app-loading></app-loading>
  </div>

</ng-template>
