<div class="create-steps-form">


  <ng-container *ngIf="initialized; else loading">

  </ng-container>
  <form [formGroup]="safeGuardsForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div formArrayName="safeguards">
        <h2>Steps</h2>
        <div *ngFor="let step of safeguards.controls; let i=index">
          <!-- The repeated alias template -->
          <label
            for="title-{{i}}">title:
          </label>
          <input
            class="form-control"
            id="title-{{i}}"
            type="text"
            [formControlName]="i"
          >
        </div>

        <button class="btn btn-light" type="button" (click)="addSafeguard()">+ Add step</button>
      </div>
    </div>


    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
<ng-template #loading>
  <div class="load-spinner" style="display: flex; justify-content: center; align-items: center; min-height: 400px;">
    <app-loading></app-loading>
  </div>

</ng-template>
