.header-toolbar {
  h1 {

  }
  button {
    max-height: 38px;
    position: relative;
    top: .2rem;
  }
}
.info-box {
  padding: 1.4rem;
  text-align: center;
  border-radius: 10px;
  border: 3px dashed #ccc;
  margin: 2rem 0;
}
.form-placeholder {
  display: flex;
  width: 100%;
  padding: .8rem;
  border-radius: 10px;
  border: 2px dashed #ededed;
  justify-content: center;
  align-items: center;
  //margin: 1rem 0;
  &.form-placeholder-td {
    padding: .4rem;
    //font-size: .8rem;
    button {
      font-size: .8rem;
      border: 1px dashed #ccc;
    }
  }

}
button {
  .icon-addicon {
    font-size: .8rem;
    margin-right: .4rem;
  }
}
.actions {
  button {
    &:not(:last-of-type) {
      margin-right: .5rem;
    }
  }

}
form {
  .actions {
    margin: .4rem 0;
  }
}
table {
  tbody {
    tr {
      td {
        //border-bottom: thin solid #ededed;
        min-width: 200px;
        font-size: .9rem;


        span:not(.utility_menu):not(.dropdown-container) {
          max-width: 300px;
          display: flex;
        }
        ul {
          margin: 0 0 0 0;
          list-style-type: none;
          padding: 0;
          list-style-type: circle;
          li {
            //display: flex;
            display: flex;
            padding: .4rem;
            border: thin solid #ededed;
            border-radius: .4rem;
            justify-content: space-between;
            align-items: center;
            margin-bottom: .4rem;
          }
        }
        span.dropdown-container {
          margin-left: .4rem;
        }
        @media(min-width: 960px) {
          width: 33%;
        }
      }
    }
  }
}
a.add-fields {
  cursor: pointer;
  font-size: .8rem;
  color: #777;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  border-bottom: #ccc dotted thin;
  span {
    font-size: .4rem;
    margin-right: .3rem;
  }
  &:hover {
    color: #0080FF;
  }
}
.scroll-container {
  z-index: 1;
  table {
    //min-width: 800px;
    @media(max-width: 600px) {
      td {
        max-width: 200px;
      }
    }
  }
  max-width: 100%;
  overflow-x: auto;
  //overflow: hidden;

}
.side-panel {
  transition: all .3s ease-in;
  position: absolute;
  left: -400px;
  width: 400px;
  height: 100%;
  z-index: 99;
  top: 0;
  background: #ededed;
  &.show {
    left: 0;
  }
}
