ul {
  //display: flex;
  //list-style-type: none;
  //margin: 0;
  //padding: 0;
  li {
    flex: 1 1;
  }
}
.info-box {
  padding: 1.4rem;
  text-align: center;
  border-radius: 10px;
  border: 3px dashed #ccc;
  margin: 2rem 0;
}
.form-placeholder {
  display: flex;
  width: 100%;
  padding: .8rem;
  border-radius: 10px;
  border: 3px dashed #ccc;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  &.form-placeholder-td {
    padding: .4rem;
    //font-size: .8rem;
    button {
      font-size: .8rem;
      border: 1px dashed #ccc;
    }
  }

}
button {
  .icon-addicon {
    font-size: .8rem;
    margin-right: .4rem;
  }
}
.actions {
  button {
    &:not(:last-of-type) {
      margin-right: .5rem;
    }
  }

}
form {
  .actions {
    margin: .4rem 0;
  }
}
table {
  tbody {
    tr {
      td {
        //border-bottom: thin solid #ededed;
        min-width: 200px;
        font-size: .9rem;
      }
    }
  }
}
a.add-fields {
  cursor: pointer;
  font-size: .8rem;
  color: #777;
}
.scroll-container {
  z-index: 1;
  table {
    //min-width: 800px;
    @media(max-width: 600px) {
      td {
        max-width: 200px;
      }
    }
  }
  max-width: 100%;
  overflow-x: scroll;
  //overflow: hidden;

}
