.header-toolbar {
  h1 {

  }
  button {
    max-height: 38px;
    position: relative;
    top: .2rem;
  }
}
.info-box {
  padding: 1.4rem;
  text-align: center;
  border-radius: 10px;
  border: 3px dashed #ccc;
  margin: 2rem 0;
}
.form-placeholder {
  display: flex;
  width: 100%;
  padding: .8rem;
  border-radius: 10px;
  border: 2px dashed #ededed;
  justify-content: center;
  align-items: center;
  //margin: 1rem 0;
  &.form-placeholder-td {
    padding: .4rem;
    //font-size: .8rem;
    button {
      font-size: .8rem;
      border: 1px dashed #ccc;
    }
  }

}
button {
  .icon-addicon {
    //font-size: .8rem;

  }
}
.actions {
  button {
    &:not(:last-of-type) {
      margin-right: .5rem;
    }
  }

}
form {
  .actions {
    margin: .4rem 0;
  }
}



ul.job-container {
  list-style-type: none;
  margin: 0 0 1rem 0;
  padding: 0;
  .flex-li {

    cursor: pointer;
    display: flex;
    border: thin solid #ededed;
    border-radius: 10px;
    div {
      padding: 1rem;
      &.info {
        display: flex;
      }
    }

    .cell {

      display: flex;
      flex-direction: column;
      margin-right: 1rem;
      .label {
        font-size: .8rem;
        opacity: .4;
      }
      .value {
        font-size: 1rem;
      }
      &.title {
        min-width: 200px;
        .value {
          font-weight: 700;
        }
      }
      &.created-by {
        min-width: 200px;
      }
    }
    @media(max-width: 770px) {
      flex-direction: column;
      div.info {
        flex-direction: column;
      }
      div.actions {
        padding-top: 0;
      }
      .cell {
        display: flex;
        flex-direction: column;
        margin-right: 0;
        margin-bottom: 1rem;
        .label {
          font-size: .8rem;
          opacity: .4;
        }
        .value {
          font-size: 1rem;
        }
        &.title {
          min-width: inherit;
        }
        &.created-by {
          min-width: inherit;
        }
      }
    }
  }

}
